body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 12px;
    line-height: 18px;
    padding: 0;
    background-color: #414042;
}
/*end body*/

/* ------------ header ----------- */
header{
    width: 1200px;
    background-color: #414042;
    height: 80px;
    display: flex;
    text-align: center;
    margin: auto;
    box-shadow: 0px 1px 10px 1px #8888;
}
/* end header */
header .logo{
    width: 200px;
    margin: 0px;
    padding: 0px;
}
/* end header logo*/
header .logo img{
    width: 135px;
    height: 50px;
    margin: 15px 32.5px;
}
/* end header logo img */
header .nav_01, header .nav_text{
    padding-top: 30px;
    width: 800px;
    text-align: center;
}
/**/
header .nav_01 a:link, header .nav_01 a:visited{
    display: inline-block;
    height: 35px;
    width: 114px;
    background-color: white;
    text-decoration: none;
    color: white;
    transition: transform .2s linear;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: scaleY(.2)
}
/**/
header .nav_01 a:hover{
    transform: scaleY(1);
    color: white;
}
/**/
header .nav_text
{
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 999;
}
/**/
header .nav_text a:link, header .nav_text a:visited{
    width: 114px;
    height: 35px;
    display: inline-block;
    text-decoration: none;
    color: white;;
}
/**/
header .nav_01 a.Home {
    background: #F1A22C;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
}
/**/
header .nav_01 a.Handmade {
    background: #00AEEF;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
}
/**/
header .nav_01 a.Pokemon {
    background: #00B7A3;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
}
/**/
header .nav_01 a.Book {
    background: #F15B6A;
    border-top-left-radius: 7px; 
    border-top-right-radius: 7px; 
}
/**/
header .social{
    width: 200px;
    padding: 24px 22px;
}
/**/
header .social a{
    text-decoration: none;
    padding: 10px;
}
/* ------------ header ----------- */
/* ------------ section ----------- */
section{
    width: 1200px;
    padding: 0;
    background-color: #414042;
    margin: 10px auto;
}

.tieude {
    width: 300px;
    background-color: #414042;
    box-shadow: 0px 0px 1px 1px #888;
    border-radius: 20px;
    margin: 30px auto 15px auto;
    text-align: center;
}

.tieude button{
    background-color: #414042;
    color: #fff;
    border: none;
    font-size: 20px;
}

/* --------------------------------------------------------------*/
.container{
    box-shadow: 0px 0px 1px 1px #8888;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
.carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
.carousel-inner .active.left { left: -25%; }
.carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
.carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.block img{
    width: 226.5px;
    height: 230px;
}

.nen{
    background-color: #414042;
}
/* --------------------------------------------------------------*/
/*------------ Footer -------------*/
footer{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414042;
    text-align: center;
    box-shadow: 0px 1px 10px 1px #8888;
}

footer p{
    font-weight: bold;
    padding: 15px;
    margin: 0px;
}

footer .hieuung{
    text-align: center;
    background: linear-gradient(to left, #5ebd3e 10%, #ffb900 20%, #f78200 30%, #e23838 40%, #973999 50%, #009cdf 60%, #5ebd3e 70%, #ffb900 80%, #f78200 90%, #e23838 100%);
    background-size: 200% auto;
    color: #000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
}
@-webkit-keyframes shine { to {   background-position: 200% center;}}
/* ------------ end footer ----------- */